/* Add this to your FlexCardsThing.css file */

/* Default layout for larger screens */
.containernewer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 10%;
    flex-wrap: nowrap; /* Ensure the cards do not wrap on larger screens */
}

/* Layout adjustments for smaller screens */
@media (max-width: 768px) {
    .containernewer {
        flex-wrap: wrap; /* Allow cards to wrap into rows */
        justify-content: center; /* Center the cards */
        top: 10vh; /* Adjust top position as needed */
    }

    .carder {
        width: 80% !important; /* Make each card take 80% of the width */
        margin: 10px 0 !important; /* Add some vertical margin between cards */
        height: 15vh !important; /* Adjust the height for smaller screens */
    }

    .expanded {
        width: 100% !important; /* Make expanded cards take the full width */
    }

    .card-content {
        font-size: 0.6em !important; /* Adjust the font size if needed */
    }

    .card-icon {
        font-size: 30px !important; /* Adjust the icon size if needed */
    }

    .card-description {
        font-size: 9px !important; /* Adjust the description font size if needed */
    }
}

/* Default styles for larger screens */
.carder {
    width: 10%;
    height: 70vh; /* Default height for larger screens */
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.carder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: flex-start;
    font-family: 'CustomFont', sans-serif;
    align-items: center;
}

.card-icon {
    font-size: 35px;
    margin-right: 20px;
}

.expanded {
    width: 90%;
}

.first-card {
    margin-left: 0;
}

.card-description {
    font-size: 14px;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 20px;
}
